<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <p>Make sure your username has at least 4-50 letters long and has no special characters.</p>
        <p>Make sure your password is at least 4-50 letter long and includes letters and numbers</p>
        <form action="http://127.0.0.1:5000/account" method="post">
            <p>
                <label for="fname">First Name</label>
                <input type="text" name ="fname" placeholder="first name" required>
            </p>
            <p>
                <label for="lname">Last Name</label>
                <input type="text" name ="lname" placeholder="last name" required>
            </p>
            <p>
                <label for="uname">Username</label>
                <input type="text" name ="uname" placeholder="username" required>
            </p>
            <p>
                <label for="upass">Password</label>
                <input type="password" name = "upass" placeholder="password" required>
            </p>
            <p>
                <input type="hidden" name="page" value="sign up">
            </p>
            <p>
                <input type="submit" value="sign up">
            </p>
        </form>
    </body>
</html>